<div class="row" (scroll)="scrolou()">
  <div class="col-4">
    <div class="card navigation-fixed" [ngStyle]="{ transform: 'translateY(' + windowPosition + 'px)' }">
      <div class="card-header"> <button class="btn">Guia</button></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <button class="btn btn-link" (click)="goTo(0)">Requerimentos</button>
        </li>
        <li class="list-group-item">
          <button class="btn btn-link" (click)="goTo(464)">Dependencias</button>
        </li>
        <li class="list-group-item">
          <button class="btn btn-link" (click)="goTo(854)">Instalação</button>
        </li>

        <li class="list-group-item">
          <button class="btn btn-link" (click)="goTo(1484)">Css Style</button>
        </li>

        <li class="list-group-item">
          <button class="btn btn-link" (click)="goTo(2461)">Icones</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-8">

    <section class="mb-5">
      <h1 id="requirements">Requerimentos</h1>
      <hr />
      <p>
        Esta é uma biblioteca baseada em Angular8 é necessário que você tenha os seguintes itens instalados no seu
        computador para prosseguir.
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="https://nodejs.org/en/" target="_blank" class="text-success"
            ><i class="fab fa-node-js fa-2x"></i> NodeJs 10+</a
          >
        </li>
        <li class="list-group-item">
          <a href="https://nodejs.org/en/" target="_blank" class="text-danger"
            ><i class="fab fa-angular fa-2x"></i> Angular/CLI 8+</a
          >
        </li>
      </ul>
      <p>
        Partiremos nos próximos pontos supondo que você já conhece o framework Angular e já tem seu projeto criado e
        pronto para a instalação da lib. Se você não conhece o framework Angular acesse o link abaixo para aprender mais
        sobre.
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="https://angular.io/" class="text-primary"
            ><i class="fas fa-file-alt fa-2x"></i> Documentação Angular</a
          >
        </li>
      </ul>
    </section>

    <section id="dependencies" class="mt-5">
      <h1>Dependencias</h1>
      <hr />
      <p>
        A biblioteca possui algumas dependencias e será necessário baixa-las antes de utiliza-la. Abaixo listo as
        dependencias obrigatórias.
      </p>
      <ul class="list-group">
        <li class="list-group-item bg-danger">
          <div class="row">
            <div class="col-4 pt-2 text-white">PrimeNg</div>
            <div class="col-8"><app-clipboard-input [code]="'npm install primeng'"></app-clipboard-input></div>
          </div>
        </li>
        <li class="list-group-item bg-danger">
          <div class="row">
            <div class="col-4 pt-2 text-white">Bootstrap</div>
            <div class="col-8">
              <app-clipboard-input [code]="'npm install bootstrap jquery popper.js'"></app-clipboard-input>
            </div>
          </div>
        </li>
      </ul>
      <em class="text-muted"
        >Obs: A lib faz uso de alguns componentes da blibioteca do PrimeNG por isso temos a obrigatóriedade desta
        dependencia. A dependencia do bootstrap pode não ser obrigatório caso você tenha conhecimento em css pode
        sobrescrever as classes bootstrap nos componentes da biblioteca.</em
      >
    </section>

    <section id="instalation" class="mt-5">
      <h1>Instalação</h1>
      <hr />
      <p>Com as dependencias instaladas execute o seguinte comando no diretório raiz do seu projeto angular:</p>
      <div class=" p-2 row">
        <div class="col-12">
          <app-clipboard-input [code]="'npm i fourward-utils'"></app-clipboard-input>
        </div>
      </div>

      <p class="pt-5">
        A lib é composta de diversos modulos, basta importa no <code>app.modules.ts</code> ou em qualquer modulo que desejar e sair usando.
        Acesse a documentação para saber mais.
      </p>
      <app-inner-code [containerClass]="'p-2 bg-dark mb-2'" [innerCode]="appModuleCode"></app-inner-code>
    </section>

    <section id="styles" class="mt-5">
      <h1>Css Style</h1>
      <hr />
      <p>
        Como explicado na sessão de dependencias temos duas dependencias obrigatórias para nossa lib ser exibida bem
        formatado e estilizado que são eles o PrimeNG e o Bootstrap. Para adicionar esses pacotes no seu projeto abra o
        arquivo <code>angular.json</code> e modifique as propiedades <code>styles</code> e <code>scripts</code> no
        arquivo com o conteudo mostrado abaixo.
      </p>

      <app-inner-code [containerClass]="'p-2 bg-dark mb-2'" [innerCode]="angularJsonCode"></app-inner-code>
    </section>

    <section id="icons" class="mt-5 mb-5">
      <h1>Icones</h1>
      <hr />

      <p>
        Alguns componentes fazem uso de icones, a biblioteca <code>ng-fourward-utils</code> permite a utilização da sua
        lib de icones favorita ( desde que a mesma seja acessada por classes css ).
      </p>

      <p>Nós recomendamos as seguintes lib de icones:</p>

      <ul class="list-group">
        <li class="list-group-item bg-light">
          <div class="row">
            <div class="col-sm-12 col-md-3 pt-2">PrimeIcons</div>
            <div class="col-sm-12 col-md-9"><app-clipboard-input [code]="'npm install primeicons'"></app-clipboard-input></div>
          </div>
        </li>
        <li class="list-group-item text-center">OU</li>
        <li class="list-group-item bg-light">
          <div class="row">
            <div class="col-sm-12 col-md-3 pt-2">FontAwesome</div>
            <div class="col-sm-12 col-md-9"><app-clipboard-input [code]="'npm install @fortawesome/fontawesome-free'"></app-clipboard-input></div>
          </div>
        </li>
      </ul>

      <p class="pt-3">
        Com sua biblioteca de icones baixada é preciso configura-la em seu projeto da mesma forma que adicionamos o
        <code>bootstrap</code> e o <code>primeng</code>
      </p>
      <p>
        Vamos abrir o arquivo <code>angular.json</code> e adicionar mais algumas linhas na nossas tags
        <code>styles</code>
      </p>

      <app-inner-code [containerClass]="'bg-dark'" [innerCode]="primeIconsImport"></app-inner-code>
      <p class="font-weight-bold py-3">OU</p>
      <app-inner-code [containerClass]="'bg-dark'" [innerCode]="fontAwesomeImport"></app-inner-code>
    </section>
  </div>
</div>
