<div class="row">
  <div class="col-8">
    <h1>Introdução</h1>
  </div>
  <div class="col-4 pt-4 text-right">
    <app-clipboard-input [code]="'npm install fourward-utils'"></app-clipboard-input>
  </div>
</div>

<hr />

<p>
  Visando o desenvolvimento dinâmico e continuo, criamos esta biblioteca de componentes baseado em angular. Estes
  componentes são comumente utilizados nos projetos da empresa e agora estamos liberando os mesmos para a comunidade, de
  modo que venha ajudar no desenvolvimento agil e diminuir trabalho codificando componentes que já estão prontos e
  testados.
</p>

<hr class="hr-light" />

<h2>Índice</h2>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <p-panelMenu [model]="items"></p-panelMenu>
  </div>
  <div class="col-sm-12 col-md-8">
    <h2>Biblioteca open source</h2>
    <p>
      É possível que você não encontre o componente que precisa, neste caso basta solicitar a criação uma solicitação
      nas issues no github ou você pode também colaborar com o pacote criando um fork do projeto e desenvolvendo seu
      própio componente e enviar um PR para adicionar o seu novo componente a lib.
    </p>
    <hr />

    <h3>Github do projeto</h3>
    <a href="https://github.com/maiquerosa/ng-fourward-utils" target="_blank">@maiquerosa/ng-fourward-utils</a>
    <span class="badge badge-primary d-inline-block ml-2">Versão 0.0.3</span>
    <br />
    <br />
    <h4>
      Siga este modelo para abertura de issue:
    </h4>
    <div class="bg-light p-3">
      <code>Qual a versão da lib esta utilizando?</code>
      <p>
        <em>Nesta sessão você pode postar seu</em> <mark>package.json</mark>
        <em>ou informar as versões das libs que está usando</em>
      </p>

      <code>Qual o comportamento que esta enfretando?</code>
      <p><em>Nesta sessão você pode detalhar o problema que esta enfrentando ao usar a lib</em></p>

      <code>Quais os componentes está utilizando?</code>
      <p><em>Informe nesta sessão quais os componentes da lib que você esta fazendo uso quando o problema ocorre.</em></p>

      <code>Qual o comportamento esperado?</code>
      <p><em>Informe brevemente nesta sessão qual o comportamento que você julga ser o correto.</em></p>
    </div>

    <p> Acesse este <a href="#">link para abertura de chamado</a></p>
  </div>
</div>
